{% include "header.html" %}<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>To Do Lists</h1>
          <span class="subheading">A collection of things to do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
    {% for list in all_lists %}
    <!-- Only show lists to the owner, in case some other user gets here -->
      {% if current_user.get_id() == list.owner_id|string %}
      <div class="post-preview">
        <a href="{{ url_for('add_task', list_id=list.id) }}">
          <h2 class="post-title">{{ list.name }}</h2>
        </a>
        <p class="post-meta">
          created on {{list.created}}
          <a href="{{url_for('delete_list', list_id=list.id) }}">✘</a>
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endif %}
    {% endfor %}
      <!-- New List -->
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_list')}}"
          >Create New List</a
        >
      </div>
  </div>
</div>

{% include "footer.html" %}
